{% extends 'base.html.twig' %}

{% block title %}CompteRendue{% endblock %}

{% block body %}
    <h1>CompteRendue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte_rendue.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ compte_rendue.description }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ compte_rendue.file }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ compte_rendue.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_rendue_index') }}">back to list</a>

    <a href="{{ path('compte_rendue_edit', {'id': compte_rendue.id}) }}">edit</a>

    {{ include('compte_rendue/_delete_form.html.twig') }}
{% endblock %}
